# This file specifies files that *are not* uploaded to Google Cloud using gcloud.
# It follows similar syntax to .gitignore.

.gcloudignore
.git
.gitignore

# Python cache and virtual environment
__pycache__/
*.pyc

# Testing and config directories
.pytest_cache/
setup.cfg

# OS-specific and log files
.DS_Store
logs/


# Documentation and test directories
tests/
docs/